body {
	background: url('typo3-200px-transparent.png') right top no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
	padding: 0;
	margin: 10px;
	font-size: 13px;
}

table {
	font-size: 100%;
}

a {
	color: #BE0027;
}

a:visited {
	color: #DB7388;
}

.info-planned a:visited {
	color: #BE0027;
	font-weight: inherit;
}

a:hover {
	color: #FF8700;
}

h1, h2 {
	font-family: Share-Bold;
}
h1 {
	font-size: 20px;
}
h2 {
	font-size: 15px;
}

.controls {
    height: 20px;
    margin: 0 0 10px 0;
}

.controls button {
    margin: 0 5px 0 0;
    border: 1px solid #666;
    background-color: #ddd;
    border-radius: 4px;
    padding: 2px 4px;
}

.controls button:hover {
    background-color: #aaa;
}

.controls button.activeFilter {
    background-color: #aaa;
}

.count {
	font-size: 90%;
	margin-bottom: 5px;
}

table {
	border-collapse: collapse;
}

td, th {
	text-align: left;
	padding: 2px;
	border: 1px solid #ccc;
}

th.release {
	text-align: center;
	min-width:10ex;
}

th.desc {
	min-width:70em;
}

td.issue {
	min-width:10ex;
}

th {
	color: #FFF;
	background-color: #FF9F33;
	border-color: #FF8700;
}

td.info-planned,
td.info-solved,
td.info-not-needed {
	text-align: left;
	padding-left: 10px;
	white-space: nowrap;
}
td.info-planned {
	font-weight:bold;
	color: white;
	background-color: red;
}
td.info-reverted {
	background-color: #d7d7d7;
}
td.info-planned-review {
	color: black;
	background-color: yellow;
}
td.info-not-needed {
    color: #fff;
    background-color: #555;
	font-weight: normal;
}

tr:hover {
	background-color: #FFFFDD;
}